{include file="public/header" /}
<link href="/static/home/css/index_1.css" rel="stylesheet" type="text/css" />
<link href="/static/home/css/index.css-93c948fe.css" rel="stylesheet" type="text/css" />
<script src="/static/home/js/jquery.js"></script>
<script src="/static/home/js/distpicker.js" > </script>
<link rel="stylesheet" href="/static/lib/validform/css/style.css">
<script src="/static/lib/validform/js/Validform_v5.3.2_min.js"></script>
<script src="/static/lib/layer/layer.js"></script>
</head>
<body class="media_screen_1200">

{include file="public/nav" /}


<div id="body_wrap">
    <div class="mu_wrap wrap clearfix">
        <div id="navListWrap">
            <div class="mu_nav_wrap">
                {include file="public/side" /}
                <div id="address_wrap">
                    <div class="addr_right topay" isaddress="true">
                        <h2 class="addr_title">地址管理</h2>
                        <div class="addr_edit" id="J_s_addr_edit">
                            <div class="addr_section " aid="570781677">
                                {volist name="addresses" id="vo"}
                                <ul class="clearfix">
                                    <li class="name">{$vo['name']}</li>
                                    <li class="addr">{$vo['pro']}{$vo['city']}{$vo['dis']}{$vo['street']}</li>
                                    <li class="mobile">{$vo['mobile']}</li>
                                    <li class="oper">
                                        <!--<a href="javascript:;" class="J_default" aid="570781677">设为默认</a>
                                        <a href="javascript:;" class="edit" aid="570781677">编辑</a>-->
                                        <a href="javascript:;" class="del nobd" onclick="delAdd({$vo['id']})">删除</a> </li>
                                    <li class="enaddr"></li>
                                </ul>
                                {/volist}
                            </div><br/>
                            <div class="add_new_addr clearfix">
                                <span id="J_saddAddress">+添加地址</span>
                            </div>
                            <div class="addressbox_warp" style="display:none">
                                <form id="form" method="post" action="/home/Address/add">
                                <div class="addressbox" id="J_sAddrWrap"></div>
                                <div class="address_wrapper">
                                    <div class="__addressPop">
                                        <dl class="address_pop" >
                                            <!--<input class="J_addressid" name="addressId" value="" type="hidden" />
                                            <input class="J_isdefault" name="addressId" value="false" type="hidden" />-->
                                            <dt>
                                                收货人姓名：
                                            </dt>
                                            <dd>
                                                <i class="needicon">*</i>
                                                <input datatype="s2-8" class="text formsize_normal J_name J_form vm" name="name" value="" type="text" />
                                                <span class="prompt name_select"></span>
                                            </dd>
                                            <dt>
                                                手机：
                                            </dt>
                                            <dd>
                                                <i class="needicon">*</i>
                                                <input datatype="mobile" class="text formsize_normal J_mobile J_form vm" name="mobile" value="" type="text" />
                                                <span class="prompt mobile_select"></span>
                                            </dd>
                                            <dt>
                                                省：
                                            </dt>
                                            <dd class="pt_ie6hack">
                                                <i class="needicon">*</i>

                                                <div data-toggle="distpicker">
                                                    <select name="pro" ></select>
                                                    <select name="city"></select>
                                                    <select name="dis"></select>
                                                </div>

                                            </dd>
                                            <dt>
                                                街道地址：
                                            </dt>
                                            <dd>
                                                <i class="needicon">*</i>
                                                <textarea datatype="s5-100" class="textarea formsize_large J_street J_form" name="street" cols="30" rows="3"></textarea>
                                                <span class="prompt breakline">请填写街道地址，最少5个字，最多不能超过100个字</span>
                                            </dd>

                                            <dt></dt>
                                            <dd class="pt10 oper_btn">
                                                <button class="confirm_btn J_okbtn mr10">确认地址</button>
                                                <button class="cancel_btn J_cancelbtn">取消</button>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                </form>
                                <!-- <div class="addressbox addressfirst addresslist" action="/trade/address/addfororder"> </div> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#J_saddAddress').click(function(){
                $('.addressbox_warp').show()
            })

            $('.J_cancelbtn').click(function(){
                $('.addressbox_warp').hide()
            })

            $("#form").Validform({
                tiptype:4,
                datatype:{
                    mobile:/^1[3|5|6|7|8|9]\d{9}$/,
                },
                ajaxPost:true,
                callback:function(res){
                    if(res.status=='success') {
                        layer.msg("添加成功",{icon:1});
                    }else{
                        layer.msg("添加失败",{icon:2});
                    }
                    location.href = "/user/address";
                }
            });

            function delAdd(id) {
                layer.confirm('你确实要删除这条地址吗',function(){
                    $.post('/home/Address/del',{id:id}, function(res){
                        if(res.status=='success') {
                            layer.msg("删除地址成功",{icon:1});
                        }else{
                            layer.msg("删除地址失败",{icon:2});
                        }
                        location.href = "/user/address";
                    })
                })
            }
        </script>
</body>
</html>