{extend name="public/base" /}

{block name="content"}
<form method="post" action="">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 留言管理</strong></div>
    <div class="padding border-bottom">
      <ul class="search">
        <li>
          <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
          <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="120">ID</th>
        <th>姓名</th>       
        <th>电话</th>
        <th>邮箱</th>
        <th>其他</th>
         <th width="120">注册时间</th>
        <th>操作</th>
      </tr>
      {volist name="data" id="vo"}
        <tr>
          <td><input type="checkbox" name="id[]" value="1" />
            {$i}</td>
          <td>神夜</td>
          <td>{$vo.mobile}</td>
          <td>564379992@qq.com</td>  
           <td>深圳市民治街道</td>
          <td>{$vo.create_time | date="Y-m-d H:i:s"}</td>
          <td>
            <div class="button-group">
              {if($vo.is_froze==0)}
              <a class="button border-red" href="javascript:void(0)" onclick="froze({$vo.id})">
            <span class="icon-trash-o"></span> 冻结</a>
              {else/}
              <a class="button border-red" href="javascript:void(0)" onclick="unfroze({$vo.id})">
                <span class="icon-trash-o"></span> 解冻</a>
              {/if}
            </div>
          </td>
        </tr>
      {/volist}
      <tr>
        <td colspan="8"><div class="pagelist"> <a href="">上一页</a> <span class="current">1</span><a href="">2</a><a href="">3</a><a href="">下一页</a><a href="">尾页</a> </div></td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

function froze(id){
	layer.confirm("您确定要冻结这个用户，禁止其登录吗",function(){
	    $.post('/admin/User/froze', {id:id}, function(res){
	        if(res.status == 'success'){
	            layer.msg('冻结用户成功', {icon:1});
            }else {
                layer.msg('冻结用户失败', {icon:2});
            }
            location.href = '/admin/user';
        })
	})
}
function unfroze(id){
    layer.confirm("您确定要冻结这个用户，禁止其登录吗",function(){
        $.post('/admin/User/froze', {id:id}, function(res){
            if(res.status == 'success'){
                layer.msg('冻结用户成功', {icon:1});
            }else {
                layer.msg('冻结用户失败', {icon:2});
            }
            location.href = '/admin/user';
        })
    })
}

$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false; 		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

</script>
{/block}